{% extends "based.html" %}

{% block title %}Еда{% endblock %}
{% block content %}
    <h1>Еда в наличии:</h1>
    {% for food in foods %}
        <div class="alert alert-warning">
            <h3>{{ food.brand }}</h3>
            <p>{{ food.price }}</p>
            <p>{{ food.description|safe }}</p>
            <p><a href="{% url 'food_details' food.id %}" class="btn btn-warning">Открыть</a>
            <a href="{% url 'food_delete' food.id %}" class="btn btn-warning">Удалить</a></p>
        </div>
    {% endfor %}

{% endblock %}
